[defaults]
# Don't display cows
nocows = True

# Collections will be stored under:
# ./collections/ansible_collections/{{ namespace }}/{{ collection }}/...
collections_paths = ./collections/

# Roles will be stored under:
# ./roles/{{ role }}/...
roles_path = ./roles

# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

# SSH Connection Options
# ServerAliveInterval - Send keepalive ever 30 seconds to ensure connection doesn't drop
[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30

[privilege_escalation]
# Enable privilege escalation globally (using sudo)
become = True
become_method = sudo