# {{ ansible_managed }}

{% for hostname, machine_info in vagrant_machines.items() %}
{{ hostname }} ansible_host={{ machine_info.ip }} ansible_user='{{ vagrant_user }}' ansible_ssh_private_key_file='/home/vagrant/.ssh/id_rsa'
{% endfor %}

{% for group, children in machines_ansible_groups.items() %}
[{{ group }}]
{% for child in children %}
{{ child }}

{% endfor %}
{% endfor %}